.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  color: #333;
  height: 60px;
  padding: 0 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.header a {
  color: #333;
}

.header a:hover {
  color: brown;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.logo {
  font-size: 20px;
  text-transform: uppercase;
}

.logo a {
  color: purple;
}
